<app-new-work></app-new-work>
<section class="archivos">
<div class="container">
<div class="mydashboard">
    <h2>I want to work with my texts:</h2>
<div class="row">
    <div class="col-md-3">
    <a href="#.html">

    <div class="card">


   <h4> <i class="fa fa-file-text-o fa-4x" aria-hidden="true"></i> Demo</h4>
   <p>Beginner</p>
   <p>10/06/17</p>

    </div>
      </a>
  </div>
  <div class="col-md-3">
      <a href="#.html">

    <div class="card">

    <h4> <i class="fa fa-file-text-o fa-4x" aria-hidden="true"></i> Demo2</h4>
   <p>Beginner</p>
   <p>10/06/17</p>

    </div>
      </a>
  </div>
  <div class="col-md-3">
      <a href="#.html">

    <div class="card">

    <h4> <i class="fa fa-file-text-o fa-4x" aria-hidden="true"></i> Demo3</h4>
   <p>Advanced</p>
   <p>10/06/17</p>

    </div>
      </a>
  </div>
</div>
</div>
 </div>
 </section>
