h1 {
	font-family: 'Inconsolata', monospace;
}

p {
	font-family: 'Noto Sans', sans-serif;
}

.load {
	font-family: 'Noto Sans', sans-serif;
	font-size: 20px;
	text-align: right;
}
.load2 {
	font-family: 'Noto Sans', sans-serif;
	font-size: 20px;
		text-align: left;
}

.top {
	height: 400px;
	 background: url(../img/triangle.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.custom i {
	color: #1fb4c8;
}
.customform {
	width: 200px;
}
.text {
	height: 100%;
}

.metainfo {
	bottom: 0;
}	

.blue {
	height: 80px;
background-color: #47d2eb;
}

.azul {
	background-color: #47d2eb;
}